@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

/* Basic theme tokens - adjust later */
:root {
  --bg: #ffffff;
  --text: #0f172a;
}

body {
  background-color: var(--bg);
  color: var(--text);
}
